{% extends 'base.html' %}
{% block content %}

<h1>Write Your Movie Review</h1>

<form action="{%url 'create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <table>
      {{form.as_table}}
    </table>
    <!-- <table>
        <tr>
          <td><label for="title">제목</label></td>
        </tr>
        <tr>
          <td><input type="text" name="review_title" id="title"></td>
        </tr>
        <tr>
          <td><label for="writer">작성자</label></td>
        </tr>
        <tr>
          <td><input type="text" name="review_writer" id="writer"></td>
        </tr>
        <tr>
          <td><label for="movie">영화 제목</label></td>
        </tr>
        <tr>
          <td><input type="text" name="movie" id="movie"></td>
        </tr>
        <tr>
          <td><label for="body">후기</label></td>
        </tr>
        <tr>
          <td><textarea name="review_body" id="body" cols="75" rows="10"></textarea></td>
        </tr>
        <tr>
          <td>사진</td>
        </tr>
        <tr>
          <td><input type="file" name="image"></td>
        </tr>
    </table> -->
    <button type="submit"> submit </button>
</form>

{% endblock %}